
/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: monospace;
}

.main-wrapper{
    background-color: #EFF1DB;
    
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
}


.radio-img{
    width: 8rem;
    padding: 10px;
    border-radius: 100%;
} 

.input-label{
    color:black ;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#container{
    position: relative;
}


input[type ="radio"]{
    min-width: 1.75rem;
    min-height: 1.75rem;
}

input[type ="checkbox"]{
    min-width: 1.75rem;
    min-height: 1.75rem;
}

/* Header */

header{
    background-color: #F582A8;
    color: #fff;
}

.header-img{
    width: 90%;
}


@media (max-width:768px) {

    .donut-row div:last-of-type {
        display: none;
    }

}


/* Username entry */

.userError{
    text-align: center;
    background-color: #FCC0C5;
    border: 1px solid #e60073;
    padding: 2px 20px;
    border-radius: 10px;
    color: #e60073;
    margin: 1rem auto;
    display: none;
}


/* Donut Glaze Section */

.item{
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
    gap:1rem;
}


.glaze-item{
    background-color: #FCC0C5;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

/* Add toppings section */


.topping-item{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.toppings-container{
    background-color: #D3BBDD;
    border-radius: 1rem;
}

.toppings-img{
    width: 6rem;
}

.errorToppings{
    text-align: center;
    background-color: #FCC0C5;
    border: 1px solid #e60073;
    padding: 2px 20px;
    border-radius: 10px;
    color: #e60073;
    margin: 1rem auto;
    display: none;
}


/* Filling Section */

#empty{
    gap: 38%;
}

.topping-img{
    width: 8rem;
    background-color:#f7eff18a;
    padding: 10px;
    border-radius: 100%;
}


/* Tally Section */

#money{
    pointer-events: none;
}








